{% extends 'base.html.twig' %}
{% set page = 'about' %}

{% block title %}Page de démarrage{% endblock %}

{% block body %}
    <h1>Page à propos de l'application feuille de match</h1>
    <p>Cette application a été faite en cours de PHP Symfony par mon groupe SN2 de l'EPSI</p>

{% endblock %}
