{% extends 'base.html.twig' %}
{% set page = 'home' %}

{% block title %}Page de démarrage{% endblock %}

{% block body %}
    <h1>Application de feuilles de match</h1>
    <p>Application permettant de gérer des feuilles de match</p>

{% endblock %}
